<div class="room-header">
  <div class="left-header">
    <div class="header-title">
      umi
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">動画を投稿する</a>
    </div>
  </div>

</div>

<div class="movies">
  <%= image_tag "umi.jpg", class:"movie-icon" %>
  <%= image_tag "umi.jpg", class:"movie-icon" %>
  <%= image_tag "umi.jpg", class:"movie-icon" %>
</div>

<div class="form">
</div>