<div class="side-bar-header">
  <div class="header-name">
    <a href="#">TAKUYA</a>
  </div>
  <div class="create-room">
    <a href="#">ページを作成する</a>
  </div>
</div>

<div class="corners">
<div class="corner">
    <div class="corner-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="corner">
    <div class="corner-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>