.wrapper {
  display: flex;
}
.side-bar {
  background-color: #ffbcbc;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 60px;
  padding: 0 20px;
  background-color: #7e0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.create-room a {
  font-size: 10px;
  border: 1px solid lightcoral;
  padding: 14px;
  color: #ffffff;
  text-decoration: none;
}

.corners {
  background-color: #ff0000;
  height: calc(100vh - 60px);
  padding: 0 20px;
  overflow: scroll;
}
.corner {
  padding: 20px 0 40px;
}

.corner-name a {
  text-decoration: none;
  color: white;
}

.room {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.room-header {
  height: 60px;
  padding: 0 40px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 60px - 60px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 60px;
  padding: 20px 40px;
}
